<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>帐号列表</title>
    <link rel="stylesheet" href="/3rd/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/mgt/css/main.css" />
    <link rel="stylesheet" href="/mgt/css/public.css" />
    <link rel="stylesheet" href="/mgt/css/account.css" />
    <script src="/mgt/js/jquery.min.js"></script>
    <script src="/3rd/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/3rd/libs/bootstrap/js/bootstrap-paginator.min.js" ></script>
    <script src="/mgt/js/account.js"></script>
    <script th:inline="javascript">
        $(function(){
            var pageInfo = [[${pageInfo}]];
            var pageNum = [[${pageInfo.pageNum}]];
            var totalPage = [[${pageInfo.totalPage}]];
            var pageSize = [[${pageInfo.pageSize}]];
            console.log(pageInfo);

            $('.dropdown li a').click(function(e){
                var val = $(this).html();
                var pvalObj = $(this).parents('ul').siblings('a');
                var pvalLen = pvalObj.length;
                var pval = '';
                // for(var i=0;i<pvalObj.length;i++){
                //     // pvalObj += pvalObj[pvalLen][i].html();
                //     console.log(pvalLen)
                // }
                pvalObj.each(function(){
                    pval += $(this).html() + ' / ';
                });
                if(pval){
                    $(this).parents('.dropdown').find('.classify').val(pval + val).click();
                }else{
                    $(this).parents('.dropdown').find('.classify').val(val).click();
                }
                e.stopPropagation();
            });
            // 分页
            var options={
                bootstrapMajorVersion:1,    //版本
                currentPage:pageNum,    //当前页数
                numberOfPages:5,    //最多显示Page页
                totalPages:totalPage,    //所有数据可以显示的页数
                itemTexts: function(type, page, current) { //修改显示文字
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked:function(e,originalEvent,type,page){
                    location.href = "/mgt/manager/manage/list?pageNo="+page+"&pageSize="+pageSize;
                }
            };
            $("#page").bootstrapPaginator(options);
        });
        function deleteManager(id){
            var x = confirm('确定删除？');
            if(x == true){
                $.post("/mgt/manager/delete",{"managerId":id},function(data){
                    if(data.code == 200){
                        var totalNum = [[${pageInfo.totalNum}]];
                        var pageSize = [[${pageInfo.pageSize}]];
                        var isLastPage = [[${pageInfo.isLastPage}]];
                        var pageNo = [[${pageInfo.pageNum}]];
                        if(isLastPage && totalNum % pageSize == 1){
                            window.location.href = "/mgt/manager/manage/list?pageNo="+(pageNo-1)+"&pageSize="+pageSize;
                        } else {
                            window.location.reload();
                        }
                    } else {
                        alert("删除失败！");
                    }
                })
            }
        }
    </script>
</head>
<body>
    <div id="account-list">
        <div class="account-list">
            <div class="add-account-item">
                <a shiro:hasPermission="admin:manager:add" href="/mgt/manager/manage/add" class="btn btn-primary btn-sm">+ 新增</a>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>帐号ID</th>
                        <th>帐号名称</th>
                        <th>真实姓名</th>
                        <th>所在部门</th>
                        <th>手机号码</th>
                        <th style="display: none;">邮箱</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="manager:${pageInfo.items}">
                        <td th:text="${manager.managerId}">123456</td>
                        <td th:text="${manager.managerName}">自由自在</td>
                        <td th:text="${manager.realName}">董志平</td>
                        <td th:text="${manager.completeDepartmentName}">睿洋 / 中睿泽农 / 研发部</td>
                        <td th:text="${manager.phoneNumber}">18736039794</td>
                        <td th:text="${manager.email}" style="display: none;">307716494@qq.com</td>
                        <td th:text="${manager.role}?${manager.role.name}:''">管理员</td>
                        <td th:switch="${manager.status}">
                            <span th:case="1" class="label label-success">启用</span>
                            <span th:case="0" class="label label-danger">禁用</span>
                        </td>
                        <td>
                            <a shiro:hasPermission="admin:manager:detail" href="javascript:" th:href="'/mgt/manager/manage/detail?managerId='+${manager.managerId}" class="btn btn-primary btn-xs">全部</a>
                            <a shiro:hasPermission="admin:manager:edit" href="javascript:" th:href="'/mgt/manager/manage/edit?managerId='+${manager.managerId}" class="btn btn-warning btn-xs edit-item">编辑</a>
                            <a shiro:hasPermission="admin:manager:delete" href="javascript:" class="btn btn-danger btn-xs delete-item" th:onclick="'javascript:deleteManager('+${manager.managerId}+');'" >删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page-box">
                <div id="page"></div>
            </div>
        </div>
    </div>
</body>
</html>