.modal-dialog1{
    width: 400px;
}

.modal-dialog2{
    width: 1000px;
}

.modal-dialog3{
    width: 600px;
}

.modal-dialog4{
    width: 400px;
}

.role-edit-form{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*添加角色样式*/
.role-edit-h4{
    margin: 3px 0 15px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px double #ccc;
}

/*.role-page-h4{*/
    /*margin: 15px 0 5px;*/
    /*padding: 5px;*/
    /*border-bottom: 3px double #ccc;*/
/*}*/

/*.role-button-h4{*/
    /*border-bottom: 3px double #ccc;*/
    /*padding: 5px;*/
    /*margin: 20px 0 15px;*/
/*}*/

.role-edit-div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.role-edit-form1 .role-edit-div:nth-child(2){
    margin-top:0;
}

.role-edit-div span{
    font-size: 15px;
}

.role-edit-div input[type="radio"]{
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.radio1[type="radio"]{
    left: 0;
}

.radio2[type="radio"]{
    left: 14px;
}

.role-edit-div input[type="radio"]+label{
    display: inline-block;
    /*line-height: 24px;*/
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 25px;
    color: #398439;
}

.role-edit-div .close-label{
    margin-left: 10px;
    color: #ac2925;
}

.role-edit-div label::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background-clip: padding-box;
}

.role-edit-div .open-label::after{
    left: 72px;
    border: 3px solid #398439;
}

.role-edit-div .close-label::after{
    left: 135px;
    border: 3px solid #ac2925;
}

.role-edit-div label::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #000;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.role-edit-div .open-label::before{
    top: 5px;
    left: 77px;
}

.role-edit-div .close-label::before{
    top: 5px;
    left: 140px;
}

.role-edit-div input[type="radio"]:checked + label::before{
    opacity: 1;
}

.radio1[type="radio"]:checked + label::after{
    border-color: #449d44;
}
.radio1[type="radio"]:checked + label::before{
    background-color:  #449d44;
}

.radio2[type="radio"]:checked + label::after{
    border-color: #c9302c;
}
.radio2[type="radio"]:checked + label::before{
    background-color: #c9302c;
}

/*默认权限样式*/
/*.role-authority{*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin-top: 10px;*/
    /*-webkit-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    /*user-select:none;*/
/*}*/

/*.role-authority-child{*/
    /*position: relative;*/
    /*margin-left: 10px;*/
/*}*/

/*.role-authority-child input{*/
    /*vertical-align: text-bottom;*/
/*}*/

/*.role-authority-child input[type="checkbox"]{*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*cursor: pointer;*/
/*}*/

/*.role-authority-child label{*/
    /*display: inline-block;*/
    /*font-size: 15px;*/
    /*line-height: 24px;*/
    /*vertical-align: middle;*/
    /*cursor: pointer;*/
    /*padding-left: 20px;*/
/*}*/

/*.role-authority-child label::after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*top: 3px;*/
    /*left: 0;*/
    /*cursor: pointer;*/
    /*border-radius: 3px;*/
    /*background-clip: padding-box;*/
    /*border: 2px solid #31b0d5;*/
/*}*/

/*.role-authority-child label::before{*/
    /*position: absolute;*/
    /*content: "";*/
    /*width: 8px;*/
    /*height: 4px;*/
    /*top: 8px;*/
    /*left: 4px;*/
    /*border: 2px solid #31b0d5;*/
    /*border-top: none;*/
    /*border-right: none;*/
    /*opacity: 0;*/
    /*transform: rotate(-45deg);*/
    /*transition: all 0.2s ease-in-out;*/
    /*z-index: 1;*/
/*}*/

/*.role-authority-child input[type="checkbox"]:checked + label::before{*/
    /*opacity: 1;*/
/*}*/

/*页面权限*/
.page-authority{
    display: flex;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
}

.role-edit-form2{
    display: flex;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
}

.page-set-one{
    width: 200px;
    border: 2px solid gray;
    margin-top: 10px;
    margin-left: 30px;
}

.page-one-line{
    padding: 8px 3px 3px;
}

.page-one-line label{
    font-size: 17px;
    font-weight: bold;
}

.page-set-two{
    border-top: 2px solid gray;
}

.page-two-line{
    padding: 8px 10px 3px;
    border-bottom: 3px double gray;
}

.page-two-line label{
    font-size: 16px;
}

.page-three-content{
    border-top: 1px solid gray;
}

.page-three-content:nth-of-type(1){
    border-top: none;
}

.page-three-line{
    padding: 8px 3px 2px 20px;
    border-bottom: 1px dotted gray;
}

.page-three-line label{
    font-size: 15px;
    font-weight: bold;
}

.page-set-four{
    padding: 8px 5px 4px 35px;
}

.page-four-content label{
    position: relative;
    top: -2px;
}

/*操作-按钮权限*/
.button-set-one{
    margin-top: 10px;
}

.button-one-line h4{
    background-color: #eee;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0;
}

.button-set-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.button-two-content label{
    position: relative;
    top: -2px;
}






