<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trust.dao.CmsPictureLibraryMapper">
  <resultMap id="BaseResultMap" type="com.trust.entity.cms.CmsPictureLibrary">
    <constructor>
      <idArg column="c_picture_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="c_creator_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="c_creator_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_site_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="c_site_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_size" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_describe" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_category_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_category_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_picture_format" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_picture_id, c_creator_id, c_creator_name, c_site_id, c_site_code, c_picture_name, 
    c_picture_url, c_picture_size, c_picture_describe, c_picture_category_name, c_picture_category_code, 
    c_picture_format, c_create_time
  </sql>
  <select id="selectByExample" parameterType="com.trust.entity.cms.CmsPictureLibraryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_picture_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_picture_library
    where c_picture_id = #{cPictureId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_picture_library
    where c_picture_id = #{cPictureId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.trust.entity.cms.CmsPictureLibraryExample">
    delete from cms_picture_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.trust.entity.cms.CmsPictureLibrary">
    insert into cms_picture_library (c_picture_id, c_creator_id, c_creator_name, 
      c_site_id, c_site_code, c_picture_name, 
      c_picture_url, c_picture_size, c_picture_describe, 
      c_picture_category_name, c_picture_category_code, 
      c_picture_format, c_create_time)
    values (#{cPictureId,jdbcType=BIGINT}, #{cCreatorId,jdbcType=BIGINT}, #{cCreatorName,jdbcType=VARCHAR}, 
      #{cSiteId,jdbcType=BIGINT}, #{cSiteCode,jdbcType=VARCHAR}, #{cPictureName,jdbcType=VARCHAR}, 
      #{cPictureUrl,jdbcType=VARCHAR}, #{cPictureSize,jdbcType=VARCHAR}, #{cPictureDescribe,jdbcType=VARCHAR}, 
      #{cPictureCategoryName,jdbcType=VARCHAR}, #{cPictureCategoryCode,jdbcType=VARCHAR}, 
      #{cPictureFormat,jdbcType=VARCHAR}, #{cCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.trust.entity.cms.CmsPictureLibrary">
    insert into cms_picture_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cPictureId != null">
        c_picture_id,
      </if>
      <if test="cCreatorId != null">
        c_creator_id,
      </if>
      <if test="cCreatorName != null">
        c_creator_name,
      </if>
      <if test="cSiteId != null">
        c_site_id,
      </if>
      <if test="cSiteCode != null">
        c_site_code,
      </if>
      <if test="cPictureName != null">
        c_picture_name,
      </if>
      <if test="cPictureUrl != null">
        c_picture_url,
      </if>
      <if test="cPictureSize != null">
        c_picture_size,
      </if>
      <if test="cPictureDescribe != null">
        c_picture_describe,
      </if>
      <if test="cPictureCategoryName != null">
        c_picture_category_name,
      </if>
      <if test="cPictureCategoryCode != null">
        c_picture_category_code,
      </if>
      <if test="cPictureFormat != null">
        c_picture_format,
      </if>
      <if test="cCreateTime != null">
        c_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cPictureId != null">
        #{cPictureId,jdbcType=BIGINT},
      </if>
      <if test="cCreatorId != null">
        #{cCreatorId,jdbcType=BIGINT},
      </if>
      <if test="cCreatorName != null">
        #{cCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="cSiteId != null">
        #{cSiteId,jdbcType=BIGINT},
      </if>
      <if test="cSiteCode != null">
        #{cSiteCode,jdbcType=VARCHAR},
      </if>
      <if test="cPictureName != null">
        #{cPictureName,jdbcType=VARCHAR},
      </if>
      <if test="cPictureUrl != null">
        #{cPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="cPictureSize != null">
        #{cPictureSize,jdbcType=VARCHAR},
      </if>
      <if test="cPictureDescribe != null">
        #{cPictureDescribe,jdbcType=VARCHAR},
      </if>
      <if test="cPictureCategoryName != null">
        #{cPictureCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="cPictureCategoryCode != null">
        #{cPictureCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="cPictureFormat != null">
        #{cPictureFormat,jdbcType=VARCHAR},
      </if>
      <if test="cCreateTime != null">
        #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.trust.entity.cms.CmsPictureLibraryExample" resultType="java.lang.Integer">
    select count(*) from cms_picture_library
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_picture_library
    <set>
      <if test="record.cPictureId != null">
        c_picture_id = #{record.cPictureId,jdbcType=BIGINT},
      </if>
      <if test="record.cCreatorId != null">
        c_creator_id = #{record.cCreatorId,jdbcType=BIGINT},
      </if>
      <if test="record.cCreatorName != null">
        c_creator_name = #{record.cCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.cSiteId != null">
        c_site_id = #{record.cSiteId,jdbcType=BIGINT},
      </if>
      <if test="record.cSiteCode != null">
        c_site_code = #{record.cSiteCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureName != null">
        c_picture_name = #{record.cPictureName,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureUrl != null">
        c_picture_url = #{record.cPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureSize != null">
        c_picture_size = #{record.cPictureSize,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureDescribe != null">
        c_picture_describe = #{record.cPictureDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureCategoryName != null">
        c_picture_category_name = #{record.cPictureCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureCategoryCode != null">
        c_picture_category_code = #{record.cPictureCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cPictureFormat != null">
        c_picture_format = #{record.cPictureFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.cCreateTime != null">
        c_create_time = #{record.cCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_picture_library
    set c_picture_id = #{record.cPictureId,jdbcType=BIGINT},
      c_creator_id = #{record.cCreatorId,jdbcType=BIGINT},
      c_creator_name = #{record.cCreatorName,jdbcType=VARCHAR},
      c_site_id = #{record.cSiteId,jdbcType=BIGINT},
      c_site_code = #{record.cSiteCode,jdbcType=VARCHAR},
      c_picture_name = #{record.cPictureName,jdbcType=VARCHAR},
      c_picture_url = #{record.cPictureUrl,jdbcType=VARCHAR},
      c_picture_size = #{record.cPictureSize,jdbcType=VARCHAR},
      c_picture_describe = #{record.cPictureDescribe,jdbcType=VARCHAR},
      c_picture_category_name = #{record.cPictureCategoryName,jdbcType=VARCHAR},
      c_picture_category_code = #{record.cPictureCategoryCode,jdbcType=VARCHAR},
      c_picture_format = #{record.cPictureFormat,jdbcType=VARCHAR},
      c_create_time = #{record.cCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.trust.entity.cms.CmsPictureLibrary">
    update cms_picture_library
    <set>
      <if test="cCreatorId != null">
        c_creator_id = #{cCreatorId,jdbcType=BIGINT},
      </if>
      <if test="cCreatorName != null">
        c_creator_name = #{cCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="cSiteId != null">
        c_site_id = #{cSiteId,jdbcType=BIGINT},
      </if>
      <if test="cSiteCode != null">
        c_site_code = #{cSiteCode,jdbcType=VARCHAR},
      </if>
      <if test="cPictureName != null">
        c_picture_name = #{cPictureName,jdbcType=VARCHAR},
      </if>
      <if test="cPictureUrl != null">
        c_picture_url = #{cPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="cPictureSize != null">
        c_picture_size = #{cPictureSize,jdbcType=VARCHAR},
      </if>
      <if test="cPictureDescribe != null">
        c_picture_describe = #{cPictureDescribe,jdbcType=VARCHAR},
      </if>
      <if test="cPictureCategoryName != null">
        c_picture_category_name = #{cPictureCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="cPictureCategoryCode != null">
        c_picture_category_code = #{cPictureCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="cPictureFormat != null">
        c_picture_format = #{cPictureFormat,jdbcType=VARCHAR},
      </if>
      <if test="cCreateTime != null">
        c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_picture_id = #{cPictureId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trust.entity.cms.CmsPictureLibrary">
    update cms_picture_library
    set c_creator_id = #{cCreatorId,jdbcType=BIGINT},
      c_creator_name = #{cCreatorName,jdbcType=VARCHAR},
      c_site_id = #{cSiteId,jdbcType=BIGINT},
      c_site_code = #{cSiteCode,jdbcType=VARCHAR},
      c_picture_name = #{cPictureName,jdbcType=VARCHAR},
      c_picture_url = #{cPictureUrl,jdbcType=VARCHAR},
      c_picture_size = #{cPictureSize,jdbcType=VARCHAR},
      c_picture_describe = #{cPictureDescribe,jdbcType=VARCHAR},
      c_picture_category_name = #{cPictureCategoryName,jdbcType=VARCHAR},
      c_picture_category_code = #{cPictureCategoryCode,jdbcType=VARCHAR},
      c_picture_format = #{cPictureFormat,jdbcType=VARCHAR},
      c_create_time = #{cCreateTime,jdbcType=TIMESTAMP}
    where c_picture_id = #{cPictureId,jdbcType=BIGINT}
  </update>
</mapper>