<head th:fragment="cssPublic(title)">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="睿农通"/>
    <meta name="description" content="睿农通综合管理平台"/>
    <title th:text="${title}"></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/paging.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/fileinput.min.css}"/>
    <link rel="stylesheet" th:href="@{/time_zones/css/daterangepicker-bs3.css}"/>
    <link rel="stylesheet" th:href="@{/css/jedate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/font/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" th:href="@{/css/content_management_public.css}"/>
</head>

