<!DOCTYPE html>
<html lang="zh-CN">
<div th:fragment="jsPublic">
    <script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/query.js}"></script>
    <script type="application/javascript" th:src="@{/js/paging.js}"></script>
    <script type="application/javascript" th:src="@{/bootstrap/js/fileinput.min.js}"></script>
    <script type="application/javascript" th:src="@{/bootstrap/js/locales/zh.js}"></script>
    <script type="application/javascript" th:src="@{/time_zones/js/moment.js}"></script>
    <script type="application/javascript" th:src="@{/time_zones/js/daterangepicker.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.jedate.min.js}"></script>
</div>
</html>

