<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 编辑模态框（Modal） -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:fragment="editModal">
        <div class="modal-dialog modal-dialog4">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editForm" class="role-edit-form role-edit-form4" >
                        <h4 class="role-edit-h4">基本信息：</h4>
                        <div class="role-edit-div">
                            <span>角色名称：</span>
                            <input id="editRoleId" name="roleId" type="hidden" />
                            <input id="editSystemId" name="systemId" type="hidden" value="1"/>
                            <input id="editRoleName" name="name" type="text" value=""/>
                        </div>
                        <div class="role-edit-div">
                            <span>角色描述：</span>
                            <textarea id="editRoleDescription" name="description" cols="30" rows="5"></textarea>
                        </div>
                        <div class="role-edit-div">
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span style="font-size: 15px">状态：</span>
                            <input id="edit-radio1" class="radio1" name="status" value="1" type="radio">
                            <label class="open-label" for="edit-radio1">启用</label>
                            <input id="edit-radio2" class="radio2" name="status" value="0" type="radio">
                            <label class="close-label" for="edit-radio2">禁用</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-role-close" data-dismiss="modal">关闭
                    </a>
                    <a href="javascript:void(0);" class="btn btn-role-submit" onclick="editFormSubmit();">
                        提交更改
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div> <!-- 编辑模态框（Modal）结束 -->
</body>
</html>