<!DOCTYPE html>
<html leng="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>帐号详情</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/paging.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/account.css}"/>
</head>
<body>
    <div id="account-detail">
        <div class="back"><a href="javascript:" class="btn btn-primary btn-sm">&lt;&nbsp;返回</a></div>
        <div class="base-info">
            <div class="info-title">
                <i class="flag"></i>
                <span>基础信息</span>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>帐号ID</th>
                        <th>帐号名称</th>
                        <th>真实姓名</th>
                        <th>所在部门</th>
                        <th>手机号码</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${manager.managerId}" id="accountId">123456</td>
                        <td th:text="${manager.managerName}">Admin</td>
                        <td th:text="${manager.realName}">董志平</td>
                        <td th:text="${manager.completeDepartmentName == ''}?'无':${manager.completeDepartmentName}">睿洋 / 睿思特 / 研发部</td>
                        <td th:text="${manager.phoneNumber}">18736039794</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>邮箱号码</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>最近登录时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${manager.email == null}?'无':${manager.email}">307716494@qq.com</td>
                        <td th:text="${manager.role}?${manager.role.name}:'无'">管理员</td>
                        <td th:text="${manager.status}==1?'启用':'禁用'">启用</td>
                        <td th:text="${#dates.format(manager.createTime, 'yyyy-MM-dd HH:mm:ss')}">2017-12-08 08:11</td>
                        <td th:text="${#dates.format(manager.lastLoginTime,'yyyy-MM-dd HH:mm:ss')}">2017-12-26 08:12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="operation-log">
            <div class="info-title">
                <i class="flag"></i>
                <span>操作日志</span>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>操作时间</th>
                        <th>操作人员</th>
                        <th>IP地址</th>
                        <th>操作模块</th>
                        <th>操作记录</th>
                        <th>操作结果</th>
                        <th>详细描述</th>
                    </tr>
                </thead>
                <tbody id="opration-log-main">
                    
                </tbody>
            </table>
            <div class="page-box">
                <div id="page"></div>
            </div>
        </div>
    </div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/query.js}"></script>
<script th:src="@{/js/paging.js}"></script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		$('.back a').click(function(){
            window.history.go(-1);
        });
        var accountId = $('#accountId').html();
        $.ajax({
            type: 'get',
            url: '/rnt/operationlog/oneself/userid',
            anysc: 'true',
            data: {
                userid: accountId,
                pageNum: 1,
                pageSize: 10
            },
            success: function(res){
                if(res&&res.msg == 'success'){
                    var logBody = '';
                    for(var i=0;i<res.data.list.length;i++){
                        logBody += '<tr><td>'+(res.data.list[i].operationlogTime?new Date(res.data.list[i].operationlogTime).toLocaleString('chinese',{hour12:false}):'/')+'</td><td>'+(res.data.list[i].operationlogUsername?res.data.list[i].operationlogUsername:'/')+'</td><td>'+(res.data.list[i].operationlogIp?res.data.list[i].operationlogIp:'/')+'</td><td>'+(res.data.list[i].operationlogModulename?res.data.list[i].operationlogModulename:'/')+'</td><td>'+(res.data.list[i].operationlogCategory?res.data.list[i].operationlogCategory:'/')+'</td><td>'+(res.data.list[i].operationlogResult?res.data.list[i].operationlogResult:'/')+'</td><td>'+(res.data.list[i].operationlogDes?res.data.list[i].operationlogDes:'/')+'</td></tr>'
                    }
                    $('#opration-log-main').html(logBody);
                
                    if(res.data.lastPage>0){
                        $('#page').Paging({pagesize:10,pagecount:res.data.lastPage,callback: function(page){
                            $.ajax({
                                type: 'get',
                                url: '/rnt/operationlog/oneself/userid',
                                anysc: 'true',
                                data: {
                                    userid: accountId,
                                    pageNum: page,
                                    pageSize: 10
                                },
                                success: function(res){
                                    if(res&&res.msg == 'success'){
                                        var logBody = '';
                                        for(var i=0;i<res.data.list.length;i++){
                                            logBody += '<tr><td>'+(res.data.list[i].operationlogTime?new Date(res.data.list[i].operationlogTime).toLocaleString('chinese',{hour12:false}):'/')+'</td><td>'+(res.data.list[i].operationlogUsername?res.data.list[i].operationlogUsername:'/')+'</td><td>'+(res.data.list[i].operationlogIp?res.data.list[i].operationlogIp:'/')+'</td><td>'+(res.data.list[i].operationlogModulename?res.data.list[i].operationlogModulename:'/')+'</td><td>'+(res.data.list[i].operationlogCategory?res.data.list[i].operationlogCategory:'/')+'</td><td>'+(res.data.list[i].operationlogResult?res.data.list[i].operationlogResult:'/')+'</td><td>'+(res.data.list[i].operationlogDes?res.data.list[i].operationlogDes:'/')+'</td></tr>'
                                        }
                                        $('#opration-log-main').html(logBody);
                                    }
                                }
                            })
                        }})
                    } 
                }else{
                    var logBody = '<tr><td colspan="7" style="text-align: center;">暂无数据</td></tr>';
                    $('#opration-log-main').html(logBody);
                }
            }
        })
	})
</script>
</body>
</html>